.table-container {
  width: 100vw;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

tr,
th,
td {
  border: 1px solid;
  width: auto;
  padding: 5px 10px 5px 10px;
}

table {
  border-collapse: collapse;
}
